@import url('reset.css');

.page {
    max-width: 800px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.header__img {
    width: 40px;
    height: 35px;
    display: inline;
}

.header__heading {
    display: inline;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 48px;
}

.header__heading::after {
    content: "";
    width: 160px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid black;
}

.header__description {
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    line-height: 25px;
}

.students {
    display: grid;
    grid-template-rows: 340px;
    grid-auto-rows: 340px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.student {
    max-width: 240px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

.student:hover:after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    top: 90px;
    left: 0;
    display: block;
    cursor: pointer;
    box-sizing: content-box;
    box-shadow: 0 10px 10px 0px rgb(175, 175, 175);
}

.student:active:after {
    z-index: -5;
    content: "";
    width: 100%;
    height: 240px;
    position: absolute;
    top: 100px;
    left: 0;
    display: block;
    cursor: pointer;
    box-shadow: 0 0px 30px 0px rgb(100, 100, 100);
}

.student__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 20px;
}

.student__img_border-radius_50 {
    border-radius: 50%;
}

.student__img_border-radius_25 {
    border-radius: 25%;
}

.student__name {
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.student__description {
    color: rgb(150, 150, 150);
    font-size: 19px;
}


/* Адаптивность */

@media (max-width: 670px) {
    .header__img {
        width: 27px;
        height: 24px;
    }
    .header__heading {
        font-size: 33px;
    }
    .header__description {
        font-size: 17px;
    }
    .students {
        display: grid;
        grid-template-rows: 320px;
        grid-auto-rows: 320px;
        grid-template-columns: 1fr;
    }
    .student__name {
        font-size: 19px;
    }
    .student__description {
        font-size: 16px;
    }
}

/* Стили модалки */

.close {
    width: 10px;
    height: 10px;
    display: inline;
}

.close:hover {
    cursor: pointer;
}

.user {
    z-index: 10;
    position: absolute;
    background-color: white;
    margin: 0 auto;
    padding: 6px;
    padding-top: 3px;
    width: 320px;
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 14px 34px 34px 28px;
    grid-template-columns: 1fr 100px;
    grid-template-areas: 
    'lastSeen close'
    'name avatar'
    'info avatar'
    'contact avatar';
    border-radius: 3px;
    box-shadow: 0 0px 10px 0px rgb(150, 150, 150);
}

.user__status {
    grid-area: lastSeen;
    font-size: 11px;
    line-height: 20px;
    color: rgb(150, 150, 150);
}

.user__close {
    grid-area: close;
    text-align: right;
}

.user__name {
    grid-area: name;
    font-size: 21px;
    padding-top: 6px;
    font-weight: normal;
}

.user__info {
    grid-area: info;
    /* хотелось бы subgrid, но не все браузеры поддерживают */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
    font-size: 12px;
}

.user__attribute {
    color: rgb(150, 150, 150);
}

.user__data {
    color: black;
}

.user__contact {
    grid-area: contact;
    padding-top: 5px;
}

.user__contact > * {
    float: left;
}

.user__message {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.user__friends {
    color: blue;
    font-size: 12px;
    text-decoration: none;
    line-height: 25px;
}

.friends {
    width: 50px;
    position: relative;
    float: right;
    margin-right: 5px;
}

.friends__item {
    position: absolute;
    right: 0;
}

.friends__item:hover {
    z-index: 10;
}

.friends__item:nth-child(2) {
    right: 15px;
}

.friends__item:nth-child(3) {
    right: 30px;
}

.friends__item:nth-child(4) {
    right: 45px;
}

.friends__icon {
    width:20px;
    height: 20px;
    border-radius: 50%;
}

.user__avatar {
    grid-area: avatar;
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 3px;
}

.modal {
    /* display: none; */
    /* box-shadow: 0 10px 10px 0px rgb(175, 175, 175); */
}